Redirect 301 /unimacro/features/grammarclasses/docstringgrammar/programmar.html http://qh.antenna.nl/unimacro/features/grammarclasses/docstringgrammar/index.html

Redirect 301 /unimacro/installation/technicaldetails/workingwithsubversion.html http://qh.antenna.nl/unimacro/installation/technicaldetails/workingwithsubversion/index.html
